@mixin horizontal-center($width) {
    left: 50%;
    margin-left: -($width/2);
    width: $width;
}

html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #ad {
        width: {width}px;
        height: {height}px;

        #border {
            width: {width}-2px;
            height: {height}-2px;
        }

        .backgrounds {
            .masks {
                .m1 {
                    height: 35px;
                    top: 390px;
                }

                .m2 {
                    top: 390px;
                    height: 3px;
                    left: 82px;
                }
            }

            .background2 {
                left: -{width}px;
            }

            img {
                width: {width}px;
            }
        }

        .cta {
            z-index: 5;
            cursor: pointer;

            .cta_normal,.cta_hover {
                width: {width}px;
            }
        }

        .copy {
            .item {
                width: {width}px;
            }
        }

        .copy2 {
            left: -{width}px;
        }

        #cta_trigger {
            top: 543px;
            left: 27px;
            width: 106px;
            height: 33px;
        }
    }
}