html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #ad {
        width: {width}px;
        height: {height}px;

        #border {
            width: {width}-2px;
            height: {height}-2px;
        }

        .backgrounds {
            .background1 {
				width: 184px;
				z-index: 1;
				left: -24px;
            }

            img {
                width: {width}px;
            }
        }

		.gradient {
			z-index: 2;
			width: {width}px;
		}

		.vertical-bar {
			height: 2px;
			width: 36px;
			top: 133px;
			left: 20px;
		}
        .logo {
            z-index: 5;
            width: {width}px;
        }

        .cta {
            cursor: pointer;

            .cta_normal,.cta_hover {
                width: {width}px;
            }
        }

        .copy {
            .item {
                width: {width}px;
                height: {height}px;
            }
        }


        #cta_trigger {
			left: 19px;
			top: 134px;
			width: 122px;
			height: 19px;
        }
    }

    #ad.fr {
        #cta_trigger {
            left: 457px;
            top: 33px;
            width: 123px;
            height: 23px;
        }
    }
}