html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #ad {
        width: {width}px;
        height: {height}px;

        .sprites {
            $spriteHeight: 134px;
            $spriteWidth: 70px;
            height: $spriteHeight;
            width: {width}px;

            .sprite {
                background-size: 300px;
                width: $spriteWidth;
                top: -$spriteHeight;
            }

            .sprite2 {
                background-position-x: -73px;
            }

            .sprite3 {
                background-position-x: -150px;
            }

            .sprite4 {
                width: #{$spriteWidth + 2};
                background-position-x: -226px;
            }
        }

        .wipe {
            width: 22px;

            .wipe-line {
                top: 39px;
                left: 22px;
                width: 2px;
                height: 148px;
            }

            img {
                width: {width}px;
            }
        }

        #border {
            width: {width}-2px;
            height: {height}-2px;
        }

        .backgrounds {
            .background1 {
                z-index: 2;
            }
            .background2{
                z-index: 1;
            }

            img {
                width: {width}px;
            }
        }

        .cta {
            z-index: 5;
            cursor: pointer;

            .cta_normal,.cta_hover {
                width: {width}px;
            }
        }

        #cta_trigger {
            left: 195px;
            top: 185px;
            width: 81px;
            height: 23px;
        }
    }

    #ad.fr {
        .sprites {
            position: absolute;
            top: -20px;
        }

        #cta_trigger {
            left: 144px;
            top: 180px;
            width: 133px;
            height: 27px;
        }
    }
}