@mixin horizontal-center($width) {
    left: 50%;
    margin-left: -($width/2);
    width: $width;
}

html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #ad {
        width: {width}px;
        height: {height}px;

        #border {
            width: {width}-2px;
            height: {height}-2px;
        }

        .backgrounds {
            .masks {
                .m1 {
                    height: 40px;
                    top: 408px;
                    left: {width}px;
                    width: 184px;
                }

                .m2 {
                    top: 408px;
                    left: {width}px;
                    width: 118px;
                    height: 3px;
                }

                .m3 {
                    width: 37px;
                    height: 0px;
                    top: 408px;
                    left: 263px;
                }
            }

            .background2 {
                left: -{width}px;
            }

            img {
                width: {width}px;
            }
        }

        .cta {
            z-index: 5;
            cursor: pointer;

            .cta_normal,.cta_hover {
                width: {width}px;
            }
        }

        .copy {
            .item {
                width: {width}px;
            }
        }

        .copy2 {
            left: -{width}px;
        }

        .logo {
            width: {width}px;
        }

        #cta_trigger {
            left: 157px;
            top: 546px;
            width: 106px;
            height: 33px;
        }
    }
}