html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #ad {
        width: {width}px;
        height: {height}px;

        .masks {
            .top {
                width: 0px;
                height: 32px;
                top: 389px;
                left: 0px;
            }

            .left {
                top: 389px;
                height: 4px;
                width: 0px;
                left: 78px
            }
        }

        #cta_trigger {
            left: 23px;
            top: 531px;
            width: 113px;
            height: 25px;
        }

        #border {
            width: {width}-2px;
            height: {height}-2px;
        }
        .background1{
            width: auto;
            height: {height}px;

        }
        .logo{
            width: {width}px;
            height: {height}px;
            opacity: 1;
        }
        .copy1{
            width: {width}px;
            height: {height}px;
            left: -150px;
            opacity:1;
        }
        .copy2{
            width: {width}px;
            height: {height}px;
        }
        .cta_normal{
            width: {width}px;
            height: {height}px;
        }
        .cta_hover{
            display:none;
        }
    }
}