@mixin horizontal-center($width) {
    left: 50%;
    margin-left: -($width/2);
    width: $width;
}

html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #ad {
        width: {width}px;
        height: {height}px;

        #border {
            width: {width}-2px;
            height: {height}-2px;
        }

        .backgrounds {
            .masks {
                .m1 {
                    left: {width}px;
                    width: 0;
                    height: 67px;
                }

                .m2 {
                    top: 66px;
                    height: 0px;
                    width: 26px;
                    left: 275px;
                }

                .m3, .m5 {
                    top: 197px;
                    width: 0px;
                    height: 4px;
                    left: 162px;
                }

                .m4 {
                    left: {width}px;
                    top: 197px;
                    width: 0px;
                    height: 53px;
                }

                .m5 {
                    top: 233px;
                    height: 17px;
                }
            }

            .background-container {
                position: absolute;
                width: {width}px;
                height: {height}px;
                overflow: hidden;

                img {
                    width: {width}px;
                }
            }

            .background1 {
                z-index: 2;
            }

            .background3 {
                top: -58px;
                z-index: 1;
            }

            img {
                width: {width}px;
            }
        }

        .mask.m5 {
            position: absolute;
            top: {height}px;
            width: 161px;
            height: 34px;
            z-index: 3000;
            background-color: white;
        }

        .cta {
            z-index: 5;
            cursor: pointer;
            left: 4px;

            .cta_normal,.cta_hover {
                width: {width}px;
            }
        }

        .copy {
            .item {
                width: {width}px;
            }
        }

        .copy2 {
            left: -{width}px;
        }

        .logo {
            width: {width}px;
        }

        #cta_trigger {
            left: 168px;
            top: 198px;
            width: 106px;
            height: 33px;
        }
    }
}