@mixin horizontal-center($width) {
    left: 50%;
    margin-left: -($width/2);
    width: $width;
}

html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #ad {
        width: {width}px;
        height: {height}px;

        #border {
            width: {width}-2px;
            height: {height}-2px;
        }

        .backgrounds {
            z-index: 2;

            img {
                width: {width}px;
            }
        }

        .copy {
            z-index: 1;

            .item {
                width: {width}px;
            }
        }

        .copy1,.copy2 {
            left: -{width}px;
        }

        .cta {
            left: -4px;
            top: 1px;
        }

        .cta img, .logo {
            width: {width}px;
        }
    }

    #ad.fr {
        .cta_normal {
            left: 5px;
        }
         .copy3 {
            left: -{width}px;
        }
    }
}