html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #ad {
        width: {width}px;
        height: {height}px;

        #border {
            width: {width}-2px;
            height: {height}-2px;
        }

        .backgrounds {
            .background1 {
                z-index: 1;
            }


            img {
                width: {width}px;
            }
        }

        .logo {
            width: {width}px;
            z-index: 9;
        }

        .cta {
            z-index: 5;
            cursor: pointer;

            .cta_normal,.cta_hover {
                width: {width}px;
            }
        }

        .masks {
            top: 132px;
            left: 0px;
            width: {width}px;
            height: 8px;

            .mask1 {
                width: 100%;
            }

        }

        .copy {
            .item {
                width: {width}px;
                height: {height}px;
            }
        }

        .copy1 {

        }
         .background2{
            left:-{width}px;
            z-index: 2;
        }
        .background3{
            left:-{width}px;
            z-index: 2;
        }
        .background4{
            opacity: 0;
            z-index: 1;
        }

       

        #cta_trigger {
            height: 22px;
            width: 82px;
            left: 17px;
            top: 210px;
           
        }
    }

    #ad.fr {
        #cta_trigger {
            height: 34px;
            width: 108px;
            left: 17px;
            top: 198px;

        }
        .masks {
            top: 116px;
            left: 0px;
            width: {width}px;
            height: 8px;

            .mask1 {
                width: 100%;
            }

        }
    }
}