html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #ad {
        width: {width}px;
        height: {height}px;

        #border {
            width: {width}-2px;
            height: {height}-2px;
        }

        .backgrounds {
            .background1 {
                z-index: 1;
            }

            img {
                width: {width}px;
            }
        }

        .logo {
            width: {width}px;
            z-index: 5;
        }

        .cta {
            z-index: 5;
            cursor: pointer;

            .cta_normal {
                width: {width}px;
            }
        }

        .copy {
            .item {
                width: {width}px;
                height: {height}px;
            }
        }

        .copy1 {
            top: -{height}px;
        }

        $copy-event-width: 300px;
        .copy-event {
                width: 143px;
                top: 8px;
                height: 35px;
                left: 72px;

            .copy-event-img {
                left: -$copy-event-width;

            }

            .vertical-line{
                width: 1px;
            }

            .copy-event-1 {
                top: -8px;
                width:$copy-event-width;

            }

            .copy-event-2 {
                top: -8px;
                width: $copy-event-width;
            }

            .copy-event-3 {
                top: -8px;
                width: $copy-event-width;
            }
        }

    }

    #ad.fr {
         $copy-event-width: 300px;
        .copy-event {
                width: 163px;
                top: 11px;
                height: 30px;
                left: 66px;

            .copy-event-img {
                left: -$copy-event-width;

            }

            .vertical-line{
                width: 1px;
            }

            .copy-event-1 {
                top: -11px;
                width:$copy-event-width;

            }

            .copy-event-2 {
                top: -11px;
                width: $copy-event-width;
            }

            .copy-event-3 {
                top: -11px;
                width: $copy-event-width;
            }
        }

    }

}