html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #ad {
        width: {width}px;
        height: {height}px;

        .sprites {
			position: absolute;
			height: 588px;
			top: 114px;
			width: {width}px;

            .sprite {
				background-size: 300px;
				width: {width}px;
				height: 143px;
				margin-left: 0px;
				position: absolute;
			}
			
			.sprite1 {
				background-position-y: -113px;
				left: -320px;
				width: 166px;
				top: 0;
			}

            .sprite2 {
				background-position-y: -113px;
				background-position-x: -170px;
				right: -260px;
				width: 130px;
				top: 0;
            }

            .sprite3 {
				background-position-y: -261px;
				left: -260px;
				width: 130px;
				top: 147px;
			}
			
			.sprite4 {
				background-position-y: -261px;
				background-position-x: -134px;
				right: -320px;
				width: 166px;
				top: 147px;
			}
        }

        .wipe {
			width: 0;

            .wipe-line {
				top: 113px;
				height: 260px;
                width: 2px;
			}
			
			.wipe-line::before {
                position: absolute;
                content: ' ';
                $gradientWidth: 9px;
                left: -$gradientWidth;
                width: $gradientWidth;
                height: 260px;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
                background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
            }

            img {
                width: {width}px;
            }
        }

        #border {
            width: {width}-2px;
            height: {height}-2px;
        }

        .backgrounds {
            .background1 {
                z-index: 2;
            }
            .background2{
                z-index: 1;
            }

            img {
                width: {width}px;
            }
        }

        .cta {
            z-index: 5;
            cursor: pointer;

            .cta_normal,.cta_hover {
                width: {width}px;
            }
        }

        #cta_trigger {
			left: 176px;
			top: 427px;
			width: 93px;
			height: 27px;
		}
		
		.logo {
			z-index: 10;
		}
    }

    #ad.fr {
        #cta_trigger {
            left: 155px;
            top: 427px;
            width: 134px;
            height: 27px;
        }
    }
}