html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #ad {
        width: {width}px;
        height: {height}px;

        #border {
            width: {width}-2px;
            height: {height}-2px;
        }

        .backgrounds {
            .background1 {
                z-index: 1;
            }

            img {
                width: {width}px;
            }
        }
        .gradient {
            z-index: 2;
            width: {width}px;
        }

		.vertical-bar {
			width: 33px;
			height: 1px;
			left: 9px;
			top: 33px;
		}
      
        .logo {
            z-index: 5;
            width: {width}px;
        }

        .cta {
            cursor: pointer;

            .cta_normal,.cta_hover {
                width: {width}px;
            }
        }

        .copy {
            .item {
                width: {width}px;
                height: {height}px;
            }
        }


        #cta_trigger {
            left: 387px;
            top: 190px;
            width: 178px;
            height: 31px;
        }
    }

    #ad.fr {
        #cta_trigger {
            left: 387px;
            top: 190px;
            width: 178px;
            height: 31px;
        }
    }
}