html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #ad {
        width: {width}px;
        height: {height}px;

        #border {
            width: {width}-2px;
            height: {height}-2px;
        }

        .backgrounds {
            .background1 {
                z-index: 1;
            }

            .background2 {
                z-index: 2;
            }

            img {
                width: {width}px;
            }
        }

        .logo {
            width: {width}px;
        }

        .cta {
            z-index: 5;
            cursor: pointer;

            .cta_normal {
                width: {width}px;
            }
        }

        .copy {
            .item {
                width: {width}px;
                height: {height}px;
            }
        }
        .masks {
            height: 39px;
            top: 14px;
            width: 61px;
            left: 84px;

            .mask1 {
                opacity: 1;
                width: inherit;
                height: inherit;
            }
        }

        .nameplate {
            top: -{height}px;
            z-index: 3;
        }

        $copy-event-width: 142px;
        .copy-event {
            width: 143px;
            top: 8px;
            height: 35px;
            left: 90px;

            .copy-event-img {
                left: -$copy-event-width;
            }

            .vertical-line{
                width: 1px;
            }

            .copy-event-1 {
                top: 2px;
                width:$copy-event-width;

            }

            .copy-event-2 {
                top: 11px;
                width: $copy-event-width;
            }

            .copy-event-3 {
                top: 24px;
                width: $copy-event-width;
            }
        }

    }

    #ad.fr {

    }
}