@mixin horizontal-center($width) {
    left: 50%;
    margin-left: -($width/2);
    width: $width;
}

html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #ad {
        width: {width}px;
        height: {height}px;

        #border {
            width: {width}-2px;
            height: {height}-2px;
        }

        .backgrounds {
            .masks {
                z-index: 2;

                > * {
                    z-index: 2;
                }

                .m1 {
                    width: 33px;
                }

                .m2 {
                    top: 44px;
                    left: 31px;
                    width: 2px;
                }

                .m3 {
                    left: 212px;
                    height: 90px;
                    width: 32px;
                    top: {height}px;
                }
            }

            .background1 {
                z-index: 1;
                width: 243px;
            }

            .background-container {
                left: 212px;
                overflow: hidden;
                width: {width}px;
                height: {height}px;
                z-index: 3;
                position: absolute;
            }

            img {
                width: {width}px;
            }
        }

        .logo {
            width: {width}px;
        }

        .cta {
            z-index: 5;
            cursor: pointer;

            .cta_normal,.cta_hover {
                width: {width}px;
            }
        }

        .copy {
            .item {
                width: {width}px;
            }
        }

        .copy2, .copy3 {
            left: -500px;
        }

        #cta_trigger {
            left: 466px;
            top: 34px;
            width: 102px;
            height: 22px;
        }
    }

    #ad.fr {
        .copy2 {
            left: -582px;
        }
    }

    #ad.revisionB {
        #cta_trigger {
            left: 463px;
            top: 29px;
            width: 107px;
            height: 33px;
        }
    }

    #ad.revisionA.fr {
        #cta_trigger {
            left: 472px;
            width: 110px;
        }
    }

    #ad.revisionB.fr {
        #cta_trigger {
            top: 26px;
            width: 125px;
        }
    }
}