html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #ad {
        width: {width}px;
        height: {height}px;

        #border {
            width: {width}-2px;
            height: {height}-2px;
        }

        .backgrounds {
            .background1 {
                z-index: 1;
            }



            img {
                width: {width}px;
            }
        }

        .logo {
            width: {width}px;
        }

        .cta {
            z-index: 5;
            cursor: pointer;

            .cta_normal,.cta_hover {
                width: {width}px;
            }
        }

        .copy {
            .item {
                width: {width}px;
                height: {height}px;
            }

        }

        .masks {
            height: {height}px;
            top: 0px;
            width: 12px;
            left: 235px;

            .mask1 {
                width: 100%;

            }
        }
        .background2{
            width: (483px/2)!important;
            height: (180px/2)!important;
            left:-(483px/2);
            z-index: 2;
        }
        .background3{
            width: (483px/2)!important;
            height: (180px/2)!important;
            left:-(483px/2);
            z-index: 2;
        }
        .background4{
            opacity: 0;
            z-index: 1;
        }
        .logo {
            width: {width}px;
            z-index: 9;
        }



        #cta_trigger {
            left: 541px;
            top: 33px;
            width: 83px;
            height: 25px;
        }
    }

    #ad.fr {

        #cta_trigger {
            left: 519px;
            top: 29px;
            width: 107px;
            height: 33px;
        }
    }
}