html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #ad {
        width: {width}px;
        height: {height}px;

        #border {
            width: {width}-2px;
            height: {height}-2px;
        }

        .backgrounds {
            .background1 {
                z-index: 1;
            }


            img {
                width: {width}px;
            }
        }

		.gradient {
            z-index: 2;
			width: {width}px;
			
		}
		
		.vertical-bar {
			width: 51px;
			height: 2px;
			top: 57px;
			left: 28px;
		}

        .logo {
            z-index: 5;
            width: {width}px;
        }

        .cta {
            cursor: pointer;

            .cta_normal,.cta_hover {
                width: {width}px;
            }
        }

        .copy {
            .item {
                width: {width}px;
                height: {height}px;
            }
        }


        #cta_trigger {
			left: 25px;
			top: 56px;
			width: 144px;
			height: 23px;
        }
    }

    #ad.fr {
        #cta_trigger {
            left: 457px;
            top: 33px;
            width: 123px;
            height: 23px;
        }
    }
}