html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #ad {
        width: {width}px;
        height: {height}px;

        .sprites {
			position: absolute;
			height: {height}px;
			top: 0px;
			width: 370px;

            .sprite {
				background-size: 970px;
				width: {width}px;
				height: 143px;
				margin-left: 0px;
				position: absolute;
			}
			
			.sprite1 {
				background-position-y: -749px;
				top: -138px;
				width: 185px;
				height: 138px;
			}

            .sprite2 {
				background-position-y: 0px;
				background-position-x: -184px;
				top: -113px;
				width: 185px;
				height: 113px;
				left: 184px;
            }

            .sprite3 {
				background-position-y: -137px;
				bottom: -113px;
				width: 185px;
				height: 113px;
			}
			
			.sprite4 {
				background-position-y: -118px;
				background-position-x: -184px;
				width: 185px;
				left: 184px;
				height: 133px;
				bottom: -143px;
			}
        }

        .wipe {
			width: 0;

            .wipe-line {
				top: 0px;
				height: {height}px;
                width: 2px;
			}
			
			.wipe-line::before {
                position: absolute;
                content: ' ';
                $gradientWidth: 9px;
                left: -$gradientWidth;
                width: $gradientWidth;
                height: {height}px;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
                background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
            }

            img {
                width: {width}px;
            }
        }

        #border {
            width: {width}-2px;
            height: {height}-2px;
        }

        .backgrounds {
            .background1 {
                z-index: 2;
            }
            .background2{
                z-index: 1;
            }

            img {
                width: {width}px;
            }
        }

        .cta {
            z-index: 5;
            cursor: pointer;

            .cta_normal,.cta_hover {
                width: {width}px;
            }
        }

        #cta_trigger {
			left: 821px;
			top: 188px;
			width: 112px;
			height: 31px;
		}
		
		.logo {
			z-index: 10;
		}
    }

    #ad.fr {
        #cta_trigger {
            left: 810px;
            top: 193px;
            width: 133px;
            height: 26px;
        }
    }
}