.{namespace} {
	#main-container {
		width: {width}px;
		height: {height}px;

		.border {
			width: #{{width}-2}px;
			height: #{{height}-2}px;
			pointer-events: none;
		}
	}

	#main-container.fr {
		.slider {
			.slider-control {
				top: 178px;
				left: 521px;
			}

			.slider-control-hitbox {
				top: 168px;
			}
		}
	}
}