/* reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
	content: '';
	content: none; } }

q {
  &:before, &:after {
	content: '';
	content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }
/* end reset.scss */

html, body {
	width: 100%;
	height: 100%;
}

.{namespace}, #ad, #lightbox-state, #lightbox-feature {
	width: inherit;
	height: inherit;
}

.{namespace} {
	img[src=""]{
		content: "";
	}

	#ad {
		background-color: white;
		position: relative;
		top:0px;
		left:0px;
		margin: 0;
		padding: 0;
		overflow: hidden;

		.border {
			z-index: 9;
			position: absolute;
			top: 0px;
			left: 0px;
			border: 1px solid #c8c8c8;
		}

		#lightbox-state {
			display: none;

			.top, .middle, .bottom {
				width: 100%;
			}

			$topHeight: percentage(114 / 720);
			$middleHeight: percentage(492 / 720);
			$bottomHeight: percentage(114 / 720);

			#lightbox-exit {
				display: none;
				position: absolute;
				right: percentage(45 / 1280);
				// width: percentage(166 / 1280);
				// height: $topHeight;
				width: 0;
				height: 0;
				z-index: 5;
				cursor: pointer;
			}

			.unsupported {
				display: none;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}

			.top {
				top: 0;
				height: $topHeight;
				width: 100%;
				position: absolute;

				.cta .model, .logo {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}

				.logo {
					left: percentage(100 / 1280);
					width: percentage(90 / 1280);
				}

				.cta {
					position: absolute;
					height: 100%;

					.model {
						opacity: 0;
						visibility: hidden;
						width: 100%;
						left: 0;
						cursor: pointer;

						&.active {opacity: 1; visibility: visible;}
					}

					right: percentage(45 / 1280);
					width: percentage(166 / 1280);
				}

				.copy {
					position: absolute;
					height: 100%;
					width: percentage(750 / 1280);
					display: inline-block;
					left: 50%;
					transform: translateX(-50%);

					.model {
						opacity: 0;
						width: 100%;
						height: 100%;
						position: absolute;
						left: 50%;
						transform: translateX(-50%);

						&.active {opacity: 1;}
					}

					.feature {
						opacity: 0;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 0;
						width: 100%;

						&.active {opacity: 1;}
					}
				}
			}

			.middle {
				top: $topHeight;
				height: $middleHeight;
				width: 100%;
				position: absolute;

				.hero-images {
					width: 100%;
					height: 100%;

					.model {
						opacity: 0;
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;

						&.active {opacity: 1;}
					}

					.feature {
						opacity: 0;
						position: absolute;
						width: 100%;

						&.active {opacity: 1;}
					}
				}

				.selectors {
					width: percentage(133 / 1280);
					height: 60%;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					background-color: white;
					border: 1px solid white;
					border-top-right-radius: 8px;
					border-bottom-right-radius: 8px;

					.selectors-inner {
						position: absolute;
						height: percentage(256 / 295);
						top: percentage(25 / 295);
						width: 100%;
					}

					.selector {
						height: 33.3333333333%;
						position: relative;
						cursor: pointer;
						transition: opacity 0.4s;

						.car, .copy {
							width: 100%;
						}

						.copy {
							position: absolute;
							bottom: 5px;
							left: 0;
						}
					}

					.selector.active {
						cursor: initial;

						.normal {
							opacity: 0;
						}

						.hover {
							opacity: 1;
						}
					}

					.selector:not(.active) {
						opacity: 0.25;
					}

					.selector:not(.active):hover {
						opacity: 1;
					}

					.escalade .car {
						transform: scaleX(-1);
					}
				}

				.gallery-controls {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;

					.arrow {
					    width: 23px;
					    position: absolute;
					    top: 50%;
					    transform: translateY(-50%);
					    cursor: pointer;

					    img {
					    	width: 100%;
					    }
					}

					.arrow-left {
						left: calc(10% + 10px);
						transform: translateY(-50%) scaleX(-1);
					}

					.arrow-right {
						right: 10px;
					}

					.dots {
						position: absolute;
					    bottom: 11px;
					    left: 50%;
					    transform: translateX(-50%);

					    .dot {
					    	width: 9px;
						    height: 9px;
						    background: white;
						    float: left;
						    opacity: 0.7;
						    border-radius: 9px;
						    cursor: pointer;
					    }

					    .dot:not(:first-child) {
					    	margin-left: 2px;
					    }

					    .dot:not(:last-child) {
					    	margin-right: 2px;
					    }

					    .dot.active {
					    	opacity: 1;
					    }
					}
				}
			}

			.bottom {
				top: $topHeight + $middleHeight;
				height: $bottomHeight;
				width: 100%;
				position: absolute;

				.selectors {
					width: percentage(750 / 1280);
				    height: 10px;
				    margin: 0 auto;
				    position: relative;
				    top: 50%;
				    transform: translateY(-50%);

					.selector {
						width: 33.3333333333%;
					    height: 100%;
					    position: absolute;
					    cursor: pointer;

					    .hover {
					    	visibility: visible;
					    }

					    &.active .hover {opacity: 1; visibility: visible;}
					    &.active .normal {opacity: 0;}
					}

					img {
						width: 100%;
					    top: 50%;
					    transform: translateY(-50%);
					    position: absolute;
					}
				}

				.selector:not(:first-child) {
					border-left: 1px solid #4b4b4b;
				}

				.selector:nth-child(2) {
					left: 33.333333333%;
				}

				.selector:nth-child(3) {
					left: 66.666666666%;
				}

				.selector:hover .normal {
					opacity: 0;
				}

				.selector:hover .hover {
					opacity: 1;
					visibility: visible;
				}

				img {
					width: 100%;
					transition: opacity 0.4s;
				}
			}
		}

		#invitation-state {
			width: {width}px;
			height: {height}px;
			top: 0px;
			left: 0px;
			z-index: 100;
			cursor: pointer;
			text-align: center;
			box-sizing: border-box;

			img {
				width: 100%;
			}

			.border {
				width: #{{width}-2}px;
				height: #{{height}-2}px;
			}

			#invitation-background {
				z-index: 1;
			}

			#invitation-hover-cta, #invitation-tap-cta {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
			}
		}
	}

	.hide {
		opacity: 0;
		visibility: hidden;
	}
}

@media screen and (max-width: 480px) {
	.{namespace} #ad #lightbox-state {
		.top {
			.copy {
				width: 70%;
			}

			.cta {
				width: 17%;
			}

			.logo {
				width: 9%;
			}
		}

		.middle {
			.selectors {
				width: 17%;
				height: 85%;

				.selectors-inner {
					height: 90%;
					top: 5%;
				}

				.selector .car, .selector .copy {
					opacity: 1;
				}
			}

			.gallery-controls {
				.arrow.arrow-left {
					left: calc(17% + 10px);
				}
			}
		}
		.bottom {
			.selectors {
				width: 90%;
			}
		}
	}
}

@media screen and (orientation:portrait) {
	.{namespace} #ad #lightbox-state {
		.top, .middle, .bottom {
			display: none;
		}

		.unsupported {
			display: block;
		}
	}
}

@media(max-width: 500px) {
	.{namespace} #ad #lightbox-state {
		.top .copy {
			width: 60%;
		}
	}
}