
/* reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }
/* end reset.scss */


.{namespace} {
    img[src=""]{
        content: "";
    }

    #ad {
        background-color: white;
        position: relative;
        top:0px;
        left:0px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        cursor: pointer;

        .cta {
            z-index: 5;
            cursor: pointer;

            .cta_normal,.cta_hover {
                position: absolute;
                left: 0;
                top: 0;
            }
            .cta_normal {
                z-index: 2;
            }
            .cta_hover {
                z-index: 1;
            }
        }

        .backgrounds {
            z-index: 1;
        }

        .line {
            z-index: 4;
        }

        .copy {
            position: absolute;
            z-index: 3;
        }

        .logo {
            position: absolute;
            z-index: 3;
        }

        #border {
            z-index: 9;
            position: absolute;
            top: 0px;
            left: 0px;
            border: 1px solid #c8c8c8;
        }

        #cta_trigger {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
        }
    }

    .item {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    .show {
        opacity: 1;
    }

    .hide {
        opacity: 0;
    }

    /* development */
    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        opacity: 0.6;
        width: 100%;
    }
    /* end development */
}