<div class="backgrounds">
    <img class="background1 item show" src="background1.jpg">
    <img class="background2 item show" src="background2.jpg">
    <img class="background3 item show" src="background3.jpg">

</div>

<div class="copy">
        <img class="copy1 item show" src="copy1.png">
        <img class="copy2 item" src="copy2.png">
        <img class="copy3 item" src="copy3.png">

</div>

<div class="cta item">
    <img class="cta_normal" src="cta_normal.png">
    <img class="cta_hover" src="cta_hover.png">
</div>
<img class="logo item show" src="logo.png">
<div id="border"></div>
<div id="cta_trigger"></div>