.redlion-0fce3415 #border, .redlion-0fce3415 #myAd {
  width: 300px;
  height: 250px; }

.redlion-0fce3415 #myAd #wp-logo {
  top: 20px;
  right: 10px; }

.redlion-0fce3415 #myAd #cta {
  top: 200px;
  left: 103px;
  width: 33%; }

.redlion-0fce3415 #myAd #cta img {
  top: 0px;
  left: 0px;
  width: 100%; }

.redlion-0fce3415 #myAd .banner-background {
  width: 300px;
  height: 250px; }

.redlion-0fce3415 #myAd .banner-image {
  width: 100%; }

.redlion-0fce3415 #myAd #copy-holder {
  width: 300px; }

.redlion-0fce3415 #myAd #copy-container {
  width: 300px; }

.redlion-0fce3415 #myAd #yellow-bar {
  position: absolute;
  top: 175px;
  left: 15px;
  height: 65px;
  background-color: #eeb111;
  opacity: 0; }

.redlion-0fce3415 #border.fr #copy-holder {
  width: 300px; }

.redlion-0fce3415 #border.fr #copy-container {
  width: 300px; }

.redlion-0fce3415 #border.fr #cta {
  width: 53%;
  left: 70px; }
