.redlion-0fce3415 #border, .redlion-0fce3415 #myAd {
  width: 728px;
  height: 90px; }

.redlion-0fce3415 #myAd #copy-holder {
  width: 300px; }

.redlion-0fce3415 #myAd #copy-container {
  left: 15px;
  width: 300px; }

.redlion-0fce3415 #myAd #copy-container, .redlion-0fce3415 #myAd div#yellow-bar {
  top: 15px; }

.redlion-0fce3415 #myAd #wp-logo {
  top: 12px;
  right: 30px;
  width: 75px; }

.redlion-0fce3415 #myAd #back02, .redlion-0fce3415 #myAd #back03 {
  width: 210px;
  left: 15px; }

.redlion-0fce3415 #myAd #cta {
  top: 51px;
  right: 22px;
  width: 90px; }

.redlion-0fce3415 #myAd #cta img {
  top: 0px;
  left: 0px;
  width: 100%; }

.redlion-0fce3415 #myAd .banner-background {
  width: 728px;
  height: 90px; }

.redlion-0fce3415 #myAd #yellow-bar {
  position: absolute;
  top: 175px;
  left: 15px;
  height: 65px;
  background-color: #eeb111;
  opacity: 0; }

.redlion-0fce3415 #border.fr #copy-holder {
  width: 310px; }

.redlion-0fce3415 #border.fr #copy-container {
  width: 310px; }

.redlion-0fce3415 #border.fr #cta {
  right: 7px;
  width: 123px; }
