<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="ad.size" content="width={width},height={height}">
    <meta name="ad.language" content="{language}">
    <meta name="ad.network" content="{clicktag}">
    <meta name="ad.agency" content="Red Lion Canada">
    <title>{size}</title>
    <style type="text/css">
        /*=include css/global.css*/
        /*=include css/{size}.css*/
    </style>
    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
           filter: none;
        }
      </style>
    <![endif]-->
</head>

<body>
    <div id="clickThrough" class="{namespace}">
        <div id="ad" class="{language} revision{revision}">
            <div class="backgrounds">
                <img class="line item show" src="line.png">
                <img class="background1 item show" src="background1.jpg">
                <img class="background2 item" src="background2.jpg">
            </div>

            <div class="copy">
                <img class="copy1 item" src="copy1.png">
                <img class="copy2 item" src="copy2.png">
                <img class="copy3 item" src="copy3.png">
                <img class="copy4 item" src="copy4.png">
            </div>

            <div class="cta item">
                <img class="cta_normal" src="cta_normal.png">
                <img class="cta_hover" src="cta_hover.png">
            </div>
            <img class="logo" src="logo.png">
            <div id="border"></div>
            <div id="cta_trigger"></div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://s0.2mdn.net/ads/studio/cached_libs/tweenmax_1.18.0_499ba64a23378545748ff12d372e59e9_min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#cta_trigger').mouseover(function() {
                $('.cta_normal').stop(true).animate({'opacity':0},150)
            })
            $('#cta_trigger').mouseout(function() {
                $('.cta_normal').stop(true).animate({'opacity':1},150)
            })
        })

        function onComplete() {}
        //=include js/global/TimelineLite.addDelay.js
        //=include js/global/animation.js
    </script>
    <!--=include html/clicktags/{clicktag}.html-->
</body>

</html>