<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="ad.size" content="width={width},height={height}">
    <meta name="ad.language" content="{language}">
    <meta name="ad.network" content="{clicktag}">
    <title>{size}</title>
    <style type="text/css">
        /*=include css/global.css*/
        /*=include css/{size}.css*/
    </style>
    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
           filter: none;
        }
      </style>
    <![endif]-->
</head>

<body>
    <a onclick="clickThrough()" id="clickThrough" class="{namespace}" target="_blank" href="#">
        <div id="ad" class="{language}">
            <!--=include html/{size}.html -->
            <div class="copy">
                <img class="copy1 item" src="copy1.png">
                <img class="copy2 item" src="copy2.png">
                <img class="copy3 item" src="copy3.png">
                <img class="copy4 item" src="copy4.png">
            </div>
            <img class="dish item" src="dish.png">
            <img class="legal item" src="legal.png">
            <img class="logo item show" src="logo.png">
            <img class="badge item" src="badge.png">
            <div class="cta item">
                <img class="cta_normal" src="cta_normal.png">
                <img class="cta_hover" src="cta_hover.png">
            </div>
            <div id="border"></div>
            <div id="cta_trigger"></div>
        </div>
    </a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://s0.2mdn.net/ads/studio/cached_libs/tweenmax_1.18.0_499ba64a23378545748ff12d372e59e9_min.js"></script>
    <script type="text/javascript">
        /**
         * Add a delay at the end of the timeline (or at any label)
         * @param {number} delay    Seconds to wait
         * @param {string} position Label name where to start the delay
         */
        TimelineLite.prototype.addDelay = function (delay, position) {
            var delayAttr;
            if(typeof delay === 'undefined' || isNaN(delay)){
                return this;//skip if invalid parameters
            }
            if (typeof position === 'undefined') {
                delayAttr = '+=' + delay; //add delay at the end of the timeline
            } else if (typeof position === 'string') {
                delayAttr = position + '+=' + delay; //add delay after label
            } else if(!isNaN(position)) {
                delayAttr = delay + position; //if they're both numbers, assume absolute position
            } else {
                return this; //nothing done
            }

            return this.set({}, {}, delayAttr);
        };

        $(document).ready(function() {
            $('#cta_trigger').mouseover(function() {
                $('.cta_normal').stop(true).animate({'opacity':0},150)
            })
            $('#cta_trigger').mouseout(function() {
                $('.cta_normal').stop(true).animate({'opacity':1},150)
            })
        })

        function onComplete() {}
        //=include js/animations/{size}.js
    </script>
    <!--=include html/clicktags/{clicktag}.html -->
</body>

</html>