.{namespace} {
    #border, #myAd {
        width: {width}px;
        height: {height}px;
    }
    
    #myAd {
        $containerWidth: 144px;
        $textPaddingLeft: 10px;
        
        #copy-holder {
            width: ($containerWidth - $textPaddingLeft);
            right: ($textPaddingLeft - 15px);
        }

        #copy-container {
            width: $containerWidth;
        }

        #copy-container, div#yellow-bar {
            top: 492px;
            height: 95px;
            left: 10px;
        }

        #yellow-bar {
            width: 6px;
        }

        #wp-logo {
            top: 24px;
            right: 21px;
            width: 120px;
        }

        #edc-logo{
            bottom: 20px;
            left: 11px;
            width: 144px;
        }

        #cta {
            bottom: 56px;
            left: 26px;
            width: 66%;
        }

        #cta img {
            top: 0px;
            left: 0px;
            width: 100%;
        }

        .banner-background{
            width: {width}px;
            height: {height}px;
        }

        #yellow-bar{
            position: absolute;
            top: 175px;
            left: 15px;
            height: 65px;
            background-color: #eeb111;
            opacity: 0;
        }
    }
}