html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #ad {
        width: {width}px;
        height: {height}px;

        .masks {
            .top {
                width: 0px;
                height: 56px;
                top: 0px;
                left: {width}px;
            }

            .left {
                top: 0px;
                height: 0px;
                width: 35px;
                left: 0px
            }

            .bottom-bottom {
                top: 213px;
                height: 38px;
                width: 0px;
                left: 0px;
            }

            .bottom-right {
                top: 213px;
                height: 4px;
                width: 0px;
                left: 207px;
            }
        }

        #cta_trigger {
            left: 177px;
            top: 197px;
            width: 98px;
            height: 22px;
        }

        #border {
            width: {width}-2px;
            height: {height}-2px;
        }

        .cta_hover{
            display:none;
        }
        .logo{
            height:{height}px;
            width:{width}px;
        }
        .copy1{
            height:{height}px;
            width:{width}px;
        }
        .copy2{
            height:{height}px;
            width:{width}px;
        }
        .background1{
            height:{height}px;
            width:{width}px;
        }
        .cta_normal{
            height:{height}px;
            width:{width}px;
        }
    }
}