html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #border, #myAd {
        width: {width}px;
        height: {height}px;
    }

    #myAd {
        .masks {
            .top {
                width: 36px;
                height: 0px;
                top: 222px;
                left: 0px;
            }

            .left {
                top: 415px;
                height: 39px;
                width: 0px;
                left: 0px
            }

            .bottom-right {
                top: 415px;
                height: 4px;
                width: 0px;
                left: 181px;
            }
        }

        .cta {
            .cta_trigger {
                left: 36px;
                top: 533px;
                width: 129px;
                height: 29px;
            }
        }
    }
}