html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #ad {
        width: {width}px;
        height: {height}px;

        .masks {
            .top {
                width: 36px;
                height: 0px;
                top: 221px;
                left: 0px;
            }

            .left {
                top: 415px;
                height: 40px;
                width: 0px;
                left: 0px
            }

            .bottom-right {
                top: 415px;
                height: 4px;
                width: 0px;
                left: 181px;
            }
        }

        #cta_trigger {
            left: 36px;
            top: 533px;
            width: 129px;
            height: 29px;
        }

        #border {
            width: {width}-2px;
            height: {height}-2px;
        }
    }
}