.{namespace} {
    #border, #myAd {
        width: {width}px;
        height: {height}px;
    }
    
    #myAd {
        div[id^="background"] {
            top: 0px;
            left: 0px;
            width: inherit;
            height: inherit;
        }
        #cta, #logo{
            right: 15px;
            max-width: 190px;
        }
        #cta {
            bottom: 20px;
            right: 20px;
        }
        div[id^="copy"] {
            bottom: 15px;
            left: 25px;
            max-width: 86%;
        }
        #copy2 {
            max-width: 210px;
        }
        #logo {
            top: 20px;
            right: 20px;
        }
    }
}