.{namespace} {
    #border, #myAd {
        width: {width}px;
        height: {height}px;
    }
    
    #myAd {
        #wp-logo {
            top: 20px;
            right: 10px;
        }

        #edc-logo{
            bottom: 10px;
            left: 55px;
            width: 80%;
        }

        #cta {
            top: 200px;
            left: 175px;
            width: 33%;
        }

        #cta img {
            top: 0px;
            left: 0px;
            width: 100%;
        }

        .banner-background{
            width: 300px;
            height: 250px;
        }

        #yellow-bar{
            position: absolute;
            top: 175px;
            left: 15px;
            height: 65px;
            background-color: #eeb111;
            opacity: 0;
        }
    }
}