html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #border, #myAd {
        width: {width}px;
        height: {height}px;
    }

    #myAd {
        .background1 {
            transform: matrix(1.2, 0, 0, 1.2, 60, 0);
        }

        .cta {
            .cta_trigger {
                left: 215px;
                top: 240px;
                width: 171px;
                height: 35px;
            }
        }
    }
}