html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #border, #myAd {
        width: {width}px;
        height: {height}px;
    }

    #myAd {
        .masks {
            .top {
                width: 71px;
                height: 58px;
                top: 13px;
                left: 96px;
            }

            .left {
                top: 158px;
                height: 61px;
                width: 103px;
            }

            .bottom-right {
                top: 73px;
                left: 390px;
                width: 101px;
                height: 176px;
            }

            .bottom-bottom {
                top: 200px;
                left: 106px;
                width: 384px;
                height: 50px;
            }
        }

        .cta {
            .cta_trigger {
                left: 806px;
                top: 108px;
                width: 112px;
                height: 31px;
            }
        }
    }
}