html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #border, #myAd {
        width: {width}px;
        height: {height}px;
    }

    #myAd {
        .cta {
            .cta_trigger {
                left: 215px;
                top: 240px;
                width: 171px;
                height: 35px;
            }
        }
    }
}