.{namespace} {
    $imageSize: 165px;

    #myAd {
        div[id^="background"]{
            top: 0px;
            left: 0px;
            width: inherit;
            height: inherit;
        }
        #background1 {
            background-position: 0;
            background-size: cover;
            width: $imageSize;
        }
        #background2 {
            background-size: cover;
            background-position: -20px -40px;
            width: 180px;
        }
        #background3 {
            left: $imageSize;
            width: $imageSize;
        }
        #gradient{
            top: 0px;
            left: 0px;
            width: $imageSize;
            height: inherit;
            background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
        }
        #cta, #logo{
            max-width: 190px;
        }
        div[id^="copy"] {
            top: 37px;
            width: inherit;
            max-width: initial;
            text-align: center;
        }
        #cta {
        	right: 12px;
            bottom: 33px;
        }
        #logo {
        	right: 14px;
            bottom: 5px;

            img {
            	width: 75px;
            }
        }
    }
}