html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #border, #myAd {
        width: {width}px;
        height: {height}px;
    }

    #myAd {
        .masks {
            .top {
                width: 51px;
                height: 65px;
                top: 0px;
                left: 76px;
            }

            .left {
                top: 139px;
                height: 51px;
                width: 63px;
            }

            .bottom-right {
                top: 67px;
                left: 317px;
                width: 241px;
                height: 183px;
            }

            .bottom-bottom {
                top: 194px;
                left: 66px;
                width: 492px;
                height: 56px;
            }
        }

        .cta {
            .cta_trigger {
                left: 806px;
                top: 108px;
                width: 112px;
                height: 31px;
            }
        }
    }
}