@mixin horizontal-center($width) {
    left: 50%;
    margin-left: -($width/2);
    width: $width;
}

html,body{
    margin: 0;
    padding: 0;
}

.{namespace} {
    * {
        font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
        color: white;
        font-size: 12pt;
    }

    sup {
        vertical-align: baseline;
        position: relative;
        top: -0.4em;
        font-size: 10px;
        font-weight: 400;
    }

    br {
        line-height: 0px;
    }

    #border, #myAd {
        background-color: black;
        position: relative;
        top:0px;
        left:0px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        cursor: pointer;
    }

    #myAd {
        #copy-holder p {
          display: table-cell; 
          vertical-align: middle;
        }

        #copy-holder { 
            position: absolute;
            width: 250px;
            right: -10px;
        }

        #copy-container{
            position: absolute;
            top: 175px;
            left: 25px;
            width: 240px;
            height: 65px;
            overflow: hidden;
            opacity: 0;
        }

        #yellow-bar{
            position: absolute;
            width: 5px;
            background-color: #eeb111;
            opacity: 0;
        }

        .banner-background{
            position: absolute;
            top: 0px;
            left: 0px;
            opacity: 0;
        }

        #cta img {
            position: absolute;
            width: 100%
        }

        .ctaDown{
            opacity: 0;
        }

        #cta {
            position: absolute;
            cursor: pointer;
            opacity: 0;
        }

        #wp-logo {
            position: absolute;
            width: 100px;
            opacity: 0;
        }

        #wp-logo img{
            width: inherit;
        }

        #edc-logo{
            position: absolute;
            opacity: 0;
        }

        #edc-logo img{
            width: inherit;
        }
    }

    .abs {
        position: absolute;
    }
    .hidden {
        opacity:0;
    }
    .scale {
        -webkit-transition: transform .2s ease-in-out;
        transition: transform .2s ease-in-out;
        transform: scale(0.9);

        &:hover {
            transform: scale(1.0) translateZ(0);
        }
    }
    .centered {
        text-align: center;
    }
}