@mixin horizontal-center($width) {
    left: 50%;
    margin-left: -($width/2);
    width: $width;
}

html,body{
    margin: 0;
    padding: 0;
}

.{namespace} {
    * {
        font-family: 'Helvetica', sans-serif;
        font-size: 12pt;
    }

    sup {
        vertical-align: baseline;
        position: relative;
        top: -0.4em;
        font-size: 10px;
        font-weight: 400;
    }

    #border, #myAd {
        background-color: black;
        position: relative;
        top:0px;
        left:0px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        cursor: pointer;
    }

    #myAd {
        #background1 {
            background-image: url('background1.jpg');
        }
        #background2 {
            background-image: url('background2.jpg');
        }
        #background3 {
            background-image: url('background3.jpg');
        }
        div[id^="background"] {
            background-repeat: no-repeat;
            background-size: contain;
            z-index: 0;
        }
        div[id^="copy"], #yellowbar {
            height: 60px;
            overflow: hidden;
            display: table;
        }

        .copy-wrapper {
            display: table-cell;
            width: 100%;
            height: 100%;
            vertical-align: middle;
        }

        .copy-wrapper > * {
            display: table-cell;
            width: inherit;
            height: inherit;
            vertical-align: middle;
        }
        #yellowbar {
            width: 4px;
            background-color: #eeb111;
            left: 14px;
            position: absolute;
        }
        div[id^="copy"], #cta {
            color: white;
            line-height: 20px;
            font-weight: 700;
            z-index: 2;
        }
        .copy-wrapper.smaller {
            max-width: 58%;
        }
        .copy-wrapper.smaller, .copy-wrapper.smaller * {
            display: block;
            font-size: 9pt;
            height: initial;
            line-height: 15px;
            left: 21px;
        }
        .copy-wrapper.smaller:before {
            content: initial;
        }
        #cta {
            text-align: center;
        }
        #cta > div {
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            border: 2px solid #eeb111;
            padding: 4px 7px;
            line-height: 16px;
            display: inline-block;
            border-radius: 8px;
        }
        #cta .text {
            font-size: 8pt;
            letter-spacing: 1px;
            color: #FFFFFF;
            margin-right: 9px;
            display: block;
        }
        #arrow {
            width: 5px;
            overflow: hidden;
            position: absolute;
            right: 8px;
            bottom: 6px;
            height: 12px;

            div {
                width: 3px;
                height: 3px;
                transform: rotate(45deg);
                border: 2px solid white;
                top: 1px;
                left: -4px;
                position: absolute;
            }
        }
        #cta:hover div {
            background-color: #eeb111;
        }
        #logo, #cta {
            z-index: 3;
        }
        #logo {
            width: 95px;
        }
        #everydaycare {
            @include horizontal-center(200px);
            bottom: 20px;
        }
    }

    .abs {
        position: absolute;
    }
    .hidden {
        opacity:0;
    }
    .scale {
        -webkit-transition: transform .2s ease-in-out;
        transition: transform .2s ease-in-out;
        transform: scale(0.9);

        &:hover {
            transform: scale(1.0) translateZ(0);
        }
    }
}