<div class="backgrounds">
    <img class="background1 item show" src="background1.jpg">
    <img class="background2 item" src="background2.png">
    <img class="nameplate item show" src="nameplate.png">
    <div class="masks"><div class="mask1"></div></div>
</div>

<div class="copy">
    <div class="copy-event show">
        <div class="vertical-line"></div>
        <img class="copy-event-1 copy-event-img" src="event1.png">
        <img class="copy-event-2 copy-event-img" src="event2.png">
        <img class="copy-event-3 copy-event-img" src="event3.png">
    </div>
        <img class="copy1 item" src="copy1.png">
        <img class="copy2 item" src="copy2.png">
</div>

<div class="cta item">
    <img class="cta_normal" src="cta_normal.png">
</div>
<img class="logo item show" src="logo.png">
<div id="border"></div>