<div class="backgrounds">
    <div class="masks show">
        <div class="m1"></div>
        <div class="m2"></div>
        <div class="m3"></div>
        <div class="m4"></div>
    </div>
    <img class="background1 item show" src="background1.jpg">

    <div class="background-container">
        <img class="background2 item copy2" src="copy2.png">
        <img class="background3 item copy3" src="copy3.png">
    </div>
</div>

<div class="copy">
    <img class="copy1 item show" src="copy1.png">
</div>

<img class="logo item show" src="logo.png">
<div class="cta item">
    <img class="cta_normal" src="cta_normal.png">
    <img class="cta_hover" src="cta_hover.png">
</div>
<div id="border"></div>
<div id="cta_trigger"></div>