html,body{
    margin: 0;
    padding: 0;
}

.{namespace} {
    * {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    sup {
       display: inline-block;
        line-height: 0px;
        font-size: 10px;
        font-weight: 400;
    }

    img {
        position: absolute;
    }

    #border, #myAd {
        width: {width}px;
        height: {height}px;
    }

    #border, #myAd {
        background-color: black;
        position: relative;
        top:0px;
        left:0px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        cursor: pointer;
    }

    #myAd {

    }

    .hidden {
        opacity:0;
    }
    .scale {
        -webkit-transition: transform .2s ease-in-out;
        transition: transform .2s ease-in-out;
        transform: scale(0.9);

        &:hover {
            transform: scale(1.0) translateZ(0);
            -webkit-transform: scale(1.0) translateZ(0);
        }
    }
}