html,body{
    margin: 0;
    padding: 0;
}

.{namespace} {
    * {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        z-index: 1;
    }

    sup {
       display: inline-block;
        line-height: 0px;
        font-size: 10px;
        font-weight: 400;
    }

    img {
        position: absolute;
    }

    #border, #myAd {
        width: {width}px;
        height: {height}px;
    }

    #border, #myAd {
        background-color: black;
        position: relative;
        top:0px;
        left:0px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        cursor: pointer;
    }

    #myAd {
        .copy {
            position: absolute;
            width: 100%;
            left: 0;
        }

        #button {
            z-index: 10;
        }
    }

    .hidden {
        opacity:0;
    }
    .scale {
        -webkit-transition: transform .2s ease-in-out;
        transition: transform .2s ease-in-out;
        transform: scale(1);

        &:hover {
            transform: scale(1.1) translateZ(0);
            -webkit-transform: scale(1.1) translateZ(0);
        }
    }
    .saturate {
        filter: saturate(1) brightness(1);
        transition: filter .2s ease-in-out;

        -webkit-filter: saturate(1) brightness(1);
        -webkit-transition: -webkit-filter .2s ease-in-out;
        
        -moz-filter: saturate(1) brightness(1);
        -moz-transition: -moz-filter .2s ease-in-out;
        
        &:hover {
            filter: saturate(0) brightness(1.2);
            -webkit-filter: saturate(0) brightness(1.2);
            -moz-filter: saturate(0) brightness(1.2);
        }
    }
}