html,body{
    margin: 0;
    padding: 0;
}

.{namespace} {
    @font-face {
      font-family: 'Avenir-Black';
      src: url('Avenir-Black.eot');
      src: url('Avenir-Black.eot?#iefix') format('embedded-opentype'),
           url('Avenir-Black.woff') format('woff'),
           url('Avenir-Black.ttf') format('truetype'),
           url('Avenir-Black.svg#Avenir-Black') format('svg');
      font-weight: normal;
      font-style: normal;
      font-size: 12pt;
    }

    * {
        font-family: 'Avenir-Black', sans-serif;
    }

    sup {
       display: inline-block;
        line-height: 0px;
        font-size: 10px;
        font-weight: 400;
    }

    #border, #myAd {
        width: {width}px;
        height: {height}px;
    }

    #border, #myAd {
        background-color: black;
        position: relative;
        top:0px;
        left:0px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        cursor: pointer;
    }

    #myAd {
        #background1 {
            background-image: url('background1.jpg');
        }
        #background2 {
            background-image: url('background2.png');
            z-index: 1;
        }
        div[id^="background"] {
            background-repeat: no-repeat;
            z-index: 0;
        }
        #background3 {
            background-color: black;
            width: {width}px;
            height: {height}px;
            left: {width}px;
        }
        #gradient {
            z-index: 1;
        }
        div[id^="copy"], #cta {
            color: white;
            line-height: 20px;
            font-weight: 700;
            z-index: 2;
        }
        div[id^="copy"] span {
            opacity: 0;
        }
        div[id^="copy"] .highlight {
            color: #b72732;
            opacity: 1;
        }
        #cta {
            text-align: center;
        }
        #cta div {
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            font-size: 8pt;
            letter-spacing: 1px;
            color: #b6b8ba;
            border: 2px solid #6f6f6f;
            background-color: #2e2e2e;
            padding: 4px 7px;
            line-height: 16px;
            display: inline-block;
        }
        #cta:hover div {
            background-color: #cc0000;
            border: 2px solid #787878;
        }
        #logo, #cta {
            z-index: 3;
        }
    }

    .abs {
        position: absolute;
    }
    .hidden {
        opacity:0;
    }
    .scale {
        -webkit-transition: transform .2s ease-in-out;
        transition: transform .2s ease-in-out;
        transform: scale(0.9);

        &:hover {
            transform: scale(1.0) translateZ(0);
            -webkit-transform: scale(1.0) translateZ(0);
        }
    }
}