<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="ad.size" content="width={width},height={height}">
    <title>{size}</title>
    <script type="text/javascript">
        //=include js/{clickTag}.js
    </script>
    <style type="text/css">
        /*=include css/global-{size}.css*/
        /*=include css/{size}.css*/
    </style>
    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
           filter: none;
        }
      </style>
    <![endif]-->
</head>

<body>
    <a onclick="clickThrough()" id="clickThrough" class="{namespace}" target="_blank">
        <div id="border" class="{language}">
            <div id="myAd">
                <img id="background" src="background.png"/>
                <div class="copy hidden" id="copy1"><img src="title.png"/></div>
                <div class="copy hidden" id="subtitle"><img src="subtitle.png"/></div>
                <div class="copy hidden" id="copy2"><img src="title2.png"/></div>
                <div class="copy hidden" id="copy3"><img src="title3.png"/></div>
                <img class="hidden" id="legal" src="legal.png"/>
                <img class="hidden" id="logo" src="logo.png"/>
                <img class="" id="man" src="man.png"/>
                <img class="hidden" id="washer" src="washer.png"/>
                <img class="hidden saturate" id="button" src="button.png"/>
            </div>
        </div>
    </a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TimelineLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/CSSPlugin.min.js"></script>
    <script type="text/javascript">
        //=include js/TimelineLite.addDelay.js

        function onComplete() {}
        //=include js/{size}.js
    </script>
</body>

</html>