<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="ad.size" content="width={width},height={height}">
    <meta name="ad.language" content="{language}">
    <meta name="ad.network" content="{clicktag}">
    <title>{size}</title>
    <script type="text/javascript">
        //=include js/clicktags/{clicktag}.js
    </script>
    <style type="text/css">
        /*=include css/global.css*/
        /*=include css/{size}.css*/
    </style>
    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
           filter: none;
        }
      </style>
    <![endif]-->
</head>

<body>
    <a onclick="clickThrough()" id="clickThrough" class="{namespace}" target="_blank" href="#">
        <div id="ad" class="{language}">
            <div class="backgrounds">
                <div class="masks">
                    <div class="top"></div>
                    <div class="left"></div>
                    <div class="bottom-right"></div>
                    <div class="bottom-bottom"></div>
                </div>
                <img class="background1 item show" src="background1.jpg">
            </div>
            <div class="copy">
                <img class="copy1 item" src="copy1.png">
                <img class="copy2 item" src="copy2.png">
            </div>

            <img class="logo item" src="logo.png">
            <div class="cta item">
                <img class="cta_normal" src="cta_normal.png">
                <img class="cta_hover" src="cta_hover.png">
            </div>
            <div id="border"></div>
            <div id="cta_trigger"></div>
        </div>
    </a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://s0.2mdn.net/ads/studio/cached_libs/tweenmax_1.18.0_499ba64a23378545748ff12d372e59e9_min.js"></script>
    <script type="text/javascript">
        //=include js/includes/TimelineLite.addDelay.js

        $(document).ready(function() {
            $('#cta_trigger').mouseover(function() {
                $('.cta_normal').stop(true).animate({'opacity':0},150)
            })
            $('#cta_trigger').mouseout(function() {
                $('.cta_normal').stop(true).animate({'opacity':1},150)
            })
        })

        function onComplete() {}
        //=include js/animations/{size}.js
    </script>
</body>

</html>